* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body span {
    display: block;
}

/* Mobile */

nav {
    background-color: #0084fd;
    padding: 15px;
}

.full-menu {
    list-style: none;
    display: none;
    color: white;
}

.fa-bars {
    color: white;
}

.full-menu li {
    display: inline-block;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sezione a */

.sct-a {
    padding: 30px;
}

.card {
    padding: 30px;
    background-color: #b5ddff;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
}

.c-big {
    padding: 30px 30px 0 30px;
    
}

.text h2 {
    margin: 30px 0;
}

.text span {
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: bold;
}

.button {
    margin: 20px 0;
}

.button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0084fd;
    padding: 10px 60px;
    border-radius: 20px;
}

.image img {
    display: block;
    width: 250px;
}

.card .big {
    font-size: 80px;
    color: #0084fd;
}

.c-icon {
    text-align: center;
}

/* Sezione b */

.sct-b {
    padding: 30px;
    background-color: #9593e6;
}

.sct-b img {
    width: 100%;
}

.sct-b .plan {
    color: white;
}

.sct-b .plan h2 {
    margin: 20px 0;
}

.card-2 {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-2 i {
    /* display: block; */
    font-size: 25px;
    background-color: #9593e6;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
}

.card-2 img {
    margin-bottom: 20px;
}

.card-2 h2 {
    margin-bottom: 20px;
}

.sct-b .card-2 span {
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px
}

/* Sezione c */

.sct-c {
    padding: 30px;
}

.sct-c .text {
    text-align: center;
}

.sct-c .text .testimonial {
    font-size: 20px;
    font-weight: 200;
}

.sct-c .text h2{
    color: #9593e6;
    font-size: 40px;
}

.sct-c .text .caption-ts {
    font-size: 20px;
    font-weight: 400;
}

.sct-c .card-2 {
    padding: 30px 10px;
    background-color: #9593e6;
    color: white;
}

.sct-c .card-2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.circle-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
}

.quote {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.quote::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f10e";
    margin-left: 5px;
}

.quote::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f10d";
    margin-right: 5px;
}

/* Sezione d */

.sct-d {
    padding: 30px;
    background-color: #9593e6;
    text-align: center;

}

.title {
    display: block;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sct-d .card {
    background-color: white;
    text-align: left;
    padding: 30px;
}

.sct-d a {
    background-color: #9593e6;
}

.number {
    display: block;
    font-size: 40px;
    color:#9593e6;
    margin-bottom: 20px;
}

.sct-d h2 {
    color: #9593e6;
    margin-bottom: 20px;
}

.sct-d .desc {
    line-height: 30px;
}

/* Sezione e */

.sct-e {
    padding: 30px;
}

.sct-e .title{
    color: #9593e6;
}

.long-text {
    display: block;
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

.sct-e img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.sct-e .circle-img {
    position: relative;
}

.circle-img i {
    position: absolute;
    top: 0;
    right: 0;
    color: #9593e6;
    font-size: 60px;
}

.sct-e .img-quote {
    color: #9593e6;
    font-size: 30px;
    font-weight: bold;
}

.sct-e a {
    color: whitesmoke;
    padding: 10px 20px;
    background-color: #9593e6;
}

/* Footer */

.ft-1 {
    padding: 30px;
    background-color: #9593e6;
    text-align: center;
}

.ft-1 span {
    display: block;
    margin-bottom: 20px;
} 

.start {
    font-size: 20px;
    color: whitesmoke;
}

.simple {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.free {
    color: orange;
    font-size: 50px;
}

.caption {
    color: whitesmoke;
    line-height: 30px;
}

.ft-1 a {
    /* display: block; */
    background-color: whitesmoke;
    color: #9593e6;
    /* margin: 30px; */
    font-size: 20px;
    padding: 15px 60px;
    border-radius: 30px
}

.copyright {
    color: whitesmoke;
    font-size: 15px;
}

.ft-2 {
    padding: 30px;
    background-color: #333;
    text-align: center;
}

.ft-2 span{
    display: block;
}

.r-text {
    color: white;
    margin-bottom: 50px;

}

.l-text {
    color: white;
}

footer .button {
    margin: 40px 0;
}

.l-text a {
    color: #9593e6;
}
/* Tablet */

@media screen and (min-width: 768px) {
    .c-container {
        /* width: 90%;
        margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 3 - 15px);
    }

    .c-big {
        width: calc(100% - (100% / 3 + 10px));
    }

    .sct-b .plan h2 {
        font-size: 70px;
    } 

    .sct-c .card-2 {
        display: flex;
        text-align: left;
        justify-content: space-between;
        flex-direction: row;
    }

    .sct-c .circle-img {
        width: 30%;
    }

    .description {
        width: 67%;
    }

    .sct-d .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sct-d .container .card{
        width: calc(100% / 2 - 10px);
    }

    .sct-e {
        display: flex;
        justify-content: space-around;
    }

    .sct-e .left {
        width: 50%;
    }

    .sct-e .right {
        width: 35%;
    }

    .left .title {
        font-size: 70px;
    }

    footer .ft-1 {
        padding: 30px 100px;
    }

    footer .ft-1 .simple{
        font-size: 45px;
    }

    footer .ft-1 .free{
        font-size: 100px;
    }

    footer .ft-1 .caption{
        font-size: 20px;
    }

    footer .ft-1 a {
        padding: 25px 80px;
        border-radius: 35px;
    }

    footer .ft-2 {
        padding: 30px 170px;
    } 
}