* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile */

nav {
    background-color: #0084fd;
    padding: 15px;
}

.full-menu {
    list-style: none;
    display: none;
    color: white;
}

.fa-bars {
    color: white;
}

.full-menu li {
    display: inline-block;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sezione a */

.sct-a {
    padding: 20px;
}

.card {
    padding: 30px;
    background-color: #b5ddff;
    width: 100%;
    margin-bottom: 15px;
    /* margin: 20px 0; */
    /* line-height: 0; */
    border-radius: 20px;
}

.c-big {
    padding: 0 30px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* line-height: 25px; */
}

.text h2 {
    margin: 30px 0;
}

.text span {
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: bold;
}

.button {
    margin: 20px 0;
}

.button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #0084fd;
    padding: 10px 60px;
    border-radius: 20px;
}

.image img {
    display: block;
    width: 250px;
}

.card .big {
    font-size: 80px;
    color: #0084fd;
}

.c-icon {
    text-align: center;
}

/* Sezione b */

.sct-b {
    padding: 30px;
    background-color: #9593e6;
}

.sct-b img {
    width: 100%;
}

.sct-b .plan {
    color: white;
}

.sct-b .plan h2 {
    margin: 20px 0;
}

.card-2 {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-2 i {
    /* display: block; */
    font-size: 25px;
    background-color: #9593e6;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
}

.card-2 img {
    margin-bottom: 20px;
}

.card-2 h2 {
    margin-bottom: 20px;
}

.card-2 span {
    line-height: 25px;
    font-style: italic;
    margin-bottom: 20px
}

/* Tablet */

@media screen and (min-width: 768px) {
    .c-container {
        /* width: 90%;
        margin: 0 auto; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 3 - 15px);
    }

    .c-big {
        width: 65%;
    }


}